/vendor
/node_modules
/public/build
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
.env
.env.backup
.env.local
.phpunit.result.cache
.php-cs-fixer.cache
composer.lock
package-lock.json
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
~*
.idea
.vscode
*.sublime-*
*.code-workspace
/tests/coverage
/.phpunit.cache
